<hr class="soften">

<footer>
  <p>
    By <a href="http://wurmlab.github.io">Wurm Lab</a>, <a href="http://sbcs.qmul.ac.uk">Queen Mary, University of London</a>.
    Funded by <a href="http://www.bbsrc.ac.uk/home/home.aspx">BBSRC</a> and <a href="http://www.qminnovation.co.uk/">QMI</a>.
    <br>
    Parts of Afra are a derivative work of <a href="http://jbrowse.org/">JBrowse</a> and <a href="http://genomearchitect.org/">WebApollo</a>.
    <br>
    <a
      href="https://github.com/yeban/afra"
      target="_blank" title="To view code, file bugs, request features.">
      <i class="fa fa-github"></i>
      View source code.
    </a>
  </p>
  <p>
    <a href="http://www.bbsrc.ac.uk/home/home.aspx"><img src="img/nostrap-bbsrc-colour.png" width="90"></a>
    <a href="http://sbcs.qmul.ac.uk"><img src="img/qmul-logo.png" width="90"></a>
  </p>
</footer>
