<div class="navbar navbar-inverse navbar-fixed-top">
  <section class="container">
    <a href="about" class="navbar-brand">Afra</a>
    <ul
      id="user-links"
      ng-show="user.name"
      class="nav navbar-nav navbar-right">
      <li>
        <a
          href="/">
          <span ng-bind="user.name"></span>
        </a>
      </li>
      <li>
        <a
          href="#"
          ng-click="signout()"
          title="Logout">
          <i class="fa fa-lg fa-sign-out"></i>
        </a>
      </li>
    </ul>
  </section>
</div>

