<div class="navbar navbar-inverse navbar-fixed-top">
  <section class="container">
    <a href="about" class="navbar-brand">
      Afra
    </a>
    <span class="navbar-brand-attribution">
      by Queen Mary, University of London & BBSRC
    </span>
    <ul
      id="user-links"
      ng-show="user.name"
      class="nav navbar-nav navbar-right">
      <li>
        <a
          href="/">
          <span ng-bind="user.name"></span>
        </a>
      </li>
      <li>
        <a
          href="#"
          data-toggle="modal"
          data-target="#logout"
          title="Logout">
          <i class="fa fa-lg fa-sign-out"></i>
        </a>
      </li>
    </ul>
  </section>
</div>
