<div class="navbar navbar-inverse navbar-fixed-top">
  <section class="container">
    <a href="about" class="navbar-brand">
      Afra
    </a>
    <ul
      id="user-links"
      ng-show="user.name"
      class="nav navbar-nav navbar-right">
      <li>
        <a
          target="_blank"
          href="http://afra.sbcs.qmul.ac.uk:8080">
          <i class="fa fa-fw fa-group"></i>
          Help & Support
        </a>
      </li>
      <li class="divider-vertical"></li>
      <li>
        <a
          href="/">
          <span ng-bind="user.name"></span>
        </a>
      </li>
      <li>
        <a
          href="#"
          data-toggle="modal"
          data-target="#logout"
          title="Logout">
          <i class="fa fa-lg fa-sign-out"></i>
        </a>
      </li>
    </ul>
  </section>
</div>
