<ng-include src="'templates/_nav.html'"></ng-include>
<article class="container">

  <div
    ng-if="not_chrome"
    class="incompatible-browser-alert">
    <br>
    <div
      class="alert alert-warning">
      <p>
        Hi, we are in a pre-alpha stage and support only <strong>Google
          Chrome</strong> at the moment. It will help us if you drop us a line
        about your experience with Afra in your browser.
      </p>
    </div>
  </div>

  <section class="problem">
    <h3>Gene Annotation for the Masses</h3>
    <p>
      Why don't naked mole rats ever get cancer?  How can ant queens live
      for up to 30 years while workers live for a few months and males for
      only a few weeks?  What makes dog breeds so different?
    </p>

    <p>
      Answering such questions requires understanding the relevant genomes.
      The genome of an organism – stored in the form of DNA in each cell –
      is represented as a long sequence of the letters ‘A’, ‘G’, ‘C’, and
      ‘T’.  Parts of this sequence represent genes – instructions which
      define the shape, size, behavior, lifespan and disease susceptibility
      of the organism.
    </p>

    <p>
      Obtaining a genome sequence is easy. But computers and biologists are
      having hard time correctly identifying the genes it contains.
    </p>
  </section>

  <div class="row">
    <div class="col-md-6">
      <section class="contributor">
        <h3>Biologists Need Your Help.</h3>
        <ul class="fa-ul the-deal">
          <!-- the what -->
          <li>
            <i class="fa fa-li fa-lg fa-search"></i>Analyze and
            correct gene models guided by our smart interface.
          </li>

          <!-- social network -->
          <li>
            <i class="fa fa-li fa-lg fa-facebook-square"></i>Share your
            contribution to science with your peers.
          </li>

          <!-- learn in the process -->
          <li>
            <i class="fa fa-li fa-lg fa-book"></i>Learn about genes
            and genomes.
          </li>

          <!-- good karma :) -->
          <li>
            <i class="fa fa-li fa-lg fa-certificate"></i>Earn
            recognition and make the world a better place.
          </li>
        </ul>
      </section>

      <br>
      <br>

      <section class="biologist">
        <h3>Are You a Biologist?</h3>
        <ul class="fa-ul the-deal">
          <li>
            <i class="fa fa-li fa-lg fa-group"></i>Sequenced a genome
            <em>de novo</em> but stuck with bad gene predictions? Our
            community can manually inspect and refine them for you.
          </li>

          <li>
            <i class="fa fa-li fa-lg fa-eye"></i>Performing
            research on a gene family but uncertain of the quality of gene
            models you have? Our community can verify and improve their
            quality for you.
          </li>
        </ul>
      </section>
    </div>

    <div class="col-md-4 col-md-offset-2">
      <div class="auth">
        <div>
          <a
            class="btn btn-primary btn-lg btn-block"
            ng-click="signin_fb()">
            <i class="fa fa-lg fa-facebook-square"></i>
            Login with Facebook
          </a>
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr class="soften">

  <footer>
    <p>Developed by <a href="http://github.com/yeban">Anurag Priyam</a> at
      <a href="http://yannick.poulet.org">Wurm Lab</a>, 
      <a href="http://sbcs.qmul.ac.uk">Queen Mary, University of London</a>.
      Funded by <a href="http://www.bbsrc.ac.uk/home/home.aspx">BBSRC</a>.
    </p>
    <p>
      <a href="http://www.bbsrc.ac.uk/home/home.aspx"><img src="img/nostrap-bbsrc-colour.png" width="90px"></a>
      <a href="http://sbcs.qmul.ac.uk"><img src="img/qmul-logo.png" width="90px"></a>
    </p>
  </footer>
</article>
