<ng-include src="'templates/_nav.html'"></ng-include>

<article class="container dashboard">
  <ng-include src="'templates/_incompatible-browser-alert.html'"></ng-include>

  <div class="row">
    <!-- left sidebar -->
    <div class="col-md-3">
      <a
        href='#'
        class="thumbnail">
        <img
        ng-src="{{user.picture}}"
        height="220" width="260"
        alt="Profile pic">
      </a>
      <h3>
        {{user.name}}
        <br>
        <small>
          beginner
        </small>
      </h3>
      <p>
        <i class="fa fa-clock-o"></i>
        Started {{user.joined_on | amDateFormat: 'MMMM Do, YYYY'}}
      </p>
    </div>

    <!-- content pane -->
    <div class="col-md-9 details">
      <h3>Welcome</h3>
      <div
        class="panel panel-default panel-introduction">
        <div
          class="panel-body">
          Manual curation is critical before predicted genes can be used in
          research. Manual curation can be a bit daunting though. Following
          guide should help you get started:
          <ol>
            <li>
              <a
                href="http://afra.sbcs.qmul.ac.uk:8080/t/overview-of-the-curation-interface/14"
                target="_blank">
                Overview of the curation interface.
              </a>
            </li>
            <li>
              <a
                href="http://afra.sbcs.qmul.ac.uk:8080/t/step-1-determining-whether-your-gene-model-needs-curation-improvement/16"
                target="_blank">
                Determining whether gene model needs improvement.
              </a>
            </li>
            <li>
              Performing curation (in preparation).
            </li>
          </ol>
          If you think there is something we have missed out, just ask:
          <a
            href="http://afra.sbcs.qmul.ac.uk:8080">
            Help &amp; Support
          </a>.
        </div>
      </div>

      <h3>Exercises</h3>
      <div
        class="panel panel-default panel-introduction">
        <div
          class="panel-body">
          <div
            class="media">
            <div
              class="media-object-like text-center pull-left"
              style="width: 128px; height: 90px;">
              <i class="fa fa-5x fa-book"></i>
            </div>
            <div
              class="media-body">
              <p
                class="justified">
                <strong>Exercises</strong>
                to practise and learn curation. These won't impact your score.
                <br>
                <i class="fa fa-long-arrow-right"></i>
                <a
                  href="curate?id=7917">
                  Non-canonical translation stop.
                </a>
                <br>
                <i class="fa fa-long-arrow-right"></i>
                <a
                  href="curate?id=4980">
                  Missing exon.
                </a>
                <br>
                <i class="fa fa-long-arrow-right"></i>
                <a
                  href="curate?id=2032">
                  Split.
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <h3>Curation challenges</h3>
      <div
        class="panel panel-default panel-challenges">
        <div
          class="panel-body">
          <div
            class="media">
            <div
              class="media-left">
              <img
              src="img/S_invicta.jpg"
              height="96" width="128"
              alt="Solenopsis invicta">
              <p
                class="media-object-attribution">
                © <a href="http://www.alexanderwild.com/">Alex Wild</a>
              </p>
            </div>
            <div
              class="media-body">
              <p
                class="justified">
                The <strong>fire ant</strong> (<em>Solenopsis invicta</em>) is an
                aggressive and invasive species with a painful sting, annually
                costing more than $5 billion in the USA.
              </p>
              <p
                class="justified">
                The fire ant genome was 
                <a href='http://yannick.poulet.org/publications/wurm2011fireAntGenome.pdf'>
                sequenced in 2011</a>, enabling researchers to identify
                unique genomic features linked to the complex social behaviors
                of this species. Improved gene predictions will greatly facilitate
                such research.
              </p>
              <a
                href="curate"
                class="btn btn-primary pull-right">
                Curate
                <i class="fa fa-lg fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <h3>Contribution activity</h3>
      <div
        ng-if="!has_contributions()">
        <ul
          class="list-group">
          <li
            class="list-group-item">
            <p class="list-group-item-text">
              <span
                class="label label-success">
              </span>
              &nbsp;&nbsp;
              Pick a challenge above and start contributing!
              <span
                am-time-ago="contribution.submitted_at"
                class="time pull-right">
              </span>
            </p>
          </li>
        </ul>
      </div>
      <ul
        class="list-group">
        <li
          ng-repeat="contribution in contributions | orderBy:'-submitted_at'"
          class="list-group-item">
          <p class="list-group-item-text">
            <span
              class="label label-primary">
              {{contribution.status}}
            </span>
            &nbsp;&nbsp;
            <a
              ng-href="curate?id={{contribution.task_id}}"
              ng-bind-html="describe_contribution(contribution)">
            </a>
            <span
              am-time-ago="contribution.submitted_at"
              class="time pull-right">
            </span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</article>

