<ng-include src="'templates/_nav.html'"></ng-include>
<article class="container dashboard">
  <div class="row">
    <!-- left sidebar -->
    <div class="col-md-3">
      <a
        href='#'
        class="thumbnail">
        <img
        ng-src="{{user.picture}}"
        height="220" width="260">
      </a>
      <h3>
        {{user.name}}
        <br>
        <small>
          beginner
        </small>
      </h3>
      <p>
        <i class="fa fa-clock-o"></i>
        Started {{user.joined_on | amDateFormat: 'MMMM Do, YYYY'}}
      </p>
    </div>

    <!-- content pane -->
    <div class="col-md-9 details">
      <h3>Challenges</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div
              class="media-object-like text-center pull-left"
              style="width: 128px; height: 90px;">
              <i class="fa fa-5x fa-book"></i>
            </div>
            <div class="media-body">
              <p class="justified">
                <strong>Exercies</strong>
                to practise and learn curation.
                <br>
                <i class="fa fa-long-arrow-right"></i>
                <a
                  href="curate?id=7917">
                  Non-canonical translation stop.
                </a>
                <br>
                <i class="fa fa-long-arrow-right"></i>
                <a
                  href="curate?id=4980">
                  Missing exon.
                </a>
                <br>
                <i class="fa fa-long-arrow-right"></i>
                <a
                  href="curate?id=3682">
                  Fire ant (<em>Solenopsis invicta</em>) gene 1
                </a>
                <br>
                <i class="fa fa-long-arrow-right"></i>
                <a
                  href="curate?id=9741">
                  Fire ant (<em>Solenopsis invicta</em>) gene 2
                </a>
                <br>
                <i class="fa fa-long-arrow-right"></i>
                <a
                  href="curate?id=4834">
                  Fire ant (<em>Solenopsis invicta</em>) gene 3
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <a class="pull-left" href="#">
              <img
              class="media-object"
              src="img/S_invicta.jpg"
              height="96" width="128"
              alt="Solenopsis invicta">
            </a>
            <div class="media-body">
              <p class="justified">
                The <strong>Fire ant</strong> (<em>Solenopsis invicta</em>) is an
                aggressive and invasive species with a painful sting, annually 
                costing more than $5 billion in the USA.
              </p>
              <p class="justified">
                The fire ant genome was 
                <a href='http://yannick.poulet.org/publications/wurm2011fireAntGenome.pdf'>
                sequenced in 2011</a>, enabling researchers to identify 
                unique genomic features linked to the complex social behaviors
                of this species. Improved gene predictions will greatly facilitate 
                such research.
              </p>
              <a
                href="curate"
                class="btn btn-default pull-right">
                Curate
                <i class="fa fa-lg fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <h3>Contribution Activity</h3>
      <div
        ng-if="!has_contributions()">
        <h3 class="contribution-activity">
          <div class="inner">
            Welcome
          </div>
        </h3>
        <ul
          class="list-group">
          <li
            class="list-group-item">
            <p class="list-group-item-text">
              <span
                class="label label-success">
              </span>
              &nbsp;&nbsp;
              Pick a challenge above and start contributing!
              <span
                am-time-ago="contribution.submitted_at"
                class="time pull-right">
                {{user.joined_on | amDateFormat: 'MMMM Do, YYYY'}}
              </span>
            </p>
          </li>
        </ul>
      </div>
      <div
        ng-repeat="(task_type, contributions) in contributions">
        <h3 class="contribution-activity">
          <div class="inner">
            <strong>
              <i
                ng-if="task_type == 'Curation'"
                class="fa fa-lg fa-edit"></i>
              <i
                ng-if="task_type == 'Review'"
                class="fa fa-lg fa-search"></i>
              {{contributions.length}}
            </strong>
            {{task_type}}
          </div>
        </h3>
        <ul
          class="list-group">
          <li
            ng-repeat="contribution in contributions | orderBy:'-submitted_at'"
            class="list-group-item">
            <p class="list-group-item-text">
              <span
                class="label label-primary">
                {{contribution.status}}
              </span>
              &nbsp;&nbsp;
              <a
                ng-href="curate?id={{contribution.task_id}}">
              {{contribution.description}}
              </a>
              <span
                am-time-ago="contribution.submitted_at"
                class="time pull-right">
              </span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</article>

